<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>这个作品集将会是一个简单的程序，但是我会将所有能够让你了解我的元素加入其中。了解一个人不会是那么难的一件事情吧。而如果你了解了我，你会发现一个全新的，你不曾想象过的我。</string>
		<key>title</key>
		<string>关于这个Portfolio</string>
	</dict>
	<dict>
		<key>content</key>
		<string>就职于校园社交创业团队tataUFO/同时也是SwiftGG中文翻译组成员。

    软件工程。喜欢梳理，喜欢好的设计和架构。
    团队狗。喜欢和一群好基友一起做好玩的事情。特别是Hackathon！狂热！
    自由主义。我不需要束缚，自由反而可以被更多的人认可，而束缚只会让自己虚度光阴。
    高效主义。可以两个小时写完的code就不要打断最后变成四个小时写完。
    写作。技术博客，文档，随笔。曾经也是文学青年。
    漫威粉。神盾局粉。
    证明自己。所有对我施来恶意的事物，我都会尽全力去证明自己，让他们收回恶意。
    最后一句，如小萌所说，自命不凡。
</string>
		<key>title</key>
		<string>关于我</string>
	</dict>
</array>
</plist>
